textarea {
  margin-top: 10px;
  width: 95%;
  height: 200px;
  font-size: 1rem;
  padding: 10px;
}

textarea::placeholder {
  width: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1876em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.54);
}

.comment-box {
  margin: 10px 0;
  border: 1px solid purple;
  border-radius: 10px;
}

.commenter-info {
  margin: 10px 0 0 10px;
  display: inline-flex;
}

.commenter-name {
  margin: 10px 0 0 20px;
}

p.comment-content {
  margin: 10px;
  text-align: justify;
}
